<!DOCTYPE html>
<html lang="sv">
<head>
  {% include "partials/head.njk" %}
  {% block headExtra %}{% endblock %}
</head>
<body class="{{ bodyClass | default('page-shell') }}">
  {% block header %}
    {% include "partials/header.njk" %}
  {% endblock %}

  {% block content %}
    {{ content | safe }}
  {% endblock %}

  {% block footer %}
    {% if not disableFooter %}
      {% include "partials/footer.njk" %}
    {% endif %}
  {% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
